@model HelpDesk.Domain.Core.Articles.Article

@{
    ViewData["Title"] = "articleDetails";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        <small>جزئیات مطلب @Model.Title</small>
    </h1>
    <ol class="breadcrumb">
        <li><a asp-action="Index" asp-controller="Admin"><i class="fa fa-dashboard"></i> داشبورد</a></li>
        <li class="active">جزئیات مطلب</li>
    </ol>
</section>
<section class="content">

    <div class="row">
        <div class="col-md-11">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"> جزئیات مطلب</h3>
                </div>

                <form asp-action="ArticleDetails" method="post" asp-controller="Admin" enctype="multipart/form-data">
                    <div class="box-body clearfix">

                        <div class="form-group">
                            <p>@Model.Title</p>
                        </div>
                        <div class="form-group">
                            <img class="img-bordered-sm img-bordered-sm" src="@Model.Image" asp-append-version="true" />


                        </div>

                        <div class="form-group">
                            <label class="control-label ">تاریخ انتشار:</label>

                            <label class="control-label input-lg">@Model.PublishDate</label>



                        </div>

                        <div class="form-group">
                            <label class="control-label">گروه:</label>

                            <label class="control-label input-lg">@ViewData["Category"]</label>
                        </div>

                        <div class="form-group">
                            <blockquote class="pull-right">  <p>@Model.Abstract</p></blockquote>
                          
                        </div>
                        <div class="box-body pad">
                            <p>@Html.Raw(@Model.Body)</p>
                        </div>



                    </div>
                </form>
            </div>

        </div>
    </div>

    <div>
        <a class="btn btn-info" asp-action="ListArticle">بازگشت به لیست</a>

    </div>
</section>

